/* navbar */
.navbar li a, .navbar-brand{
    color: #fff;
}
.navbar li a:hover, .navbar-brand:hover{
    color: #009ee3;
}
/* hero background image */
.bgimage{
    height:100vh;
    background: url('https://img.freepik.com/premium-photo/technology-hitech-3d-background-3d-illustration-futuristic-backdrop-design-abstract-object-element-f_262243-1759.jpg');
    background-size:cover;
}
/* text css above hero image*/
.hero_title {
    font-size: 4rem;
    animation: focus-in-expand-top 3s linear 0s 1 normal none;
}
.hero_desc {
    font-size: 2rem;
    animation: blur-out-contract 3s linear 0s 1 normal none;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
@keyframes focus-in-expand-top {
			
    0% {
        letter-spacing:-.5em;
        transform:translateY(-300px);
        filter:blur(12px);
        opacity:0;
    }
    0% {
        transform:translateY(0);
        filter:blur(0);
        opacity:1;
    }
}
@keyframes blur-out-contract {
			
    0% {
        letter-spacing:-.5em;
        filter:blur(12px) opacity(0%);
    }
    100% {
        filter:blur(0);
    }
}

/* services section css */
.servicesText{
    cursor: pointer;
    height: 100%;
    transition: 500ms linear; 
}
.servicesText:hover {
    transform: scale(1.02)
}

.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title, .card-text {
    text-align: center;
}

.card:hover .servicesIcon {
    color: #009ee3;
}
.servicesText:hover {
    border: 1px solid #009ee3;
}

.navbarScroll.navbarDark {
    background-color: #0f2a33;
}
